@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 3px red solid; */
}

html, body {
    font-family: sans-serif;
    min-height: 100%;
    overflow-x: hidden;
}


.header {
    width: 100%;
    height: 225px;
    background-color: #2B3A55;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 2000;
    position: relative;
}

.header-logo {
    margin-top: 85px;
    padding-left: 125px;
    padding-right: 25px;
    height: clamp(200px,6.2vw,250px);
}

.navie ul {
    margin-top: 155px;
    display: flex;
    gap: 45px;
    align-items: center;
    color: #F2E5E5;
    list-style: none;
    font-size: clamp(1.2rem,2.2vw,1.8rem);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;


}

.navie ul li {
    cursor: pointer;
}

.navie ul li:hover {

    color: #CD0404;
}


.cta {
    position: relative;
    margin-top: 55px;
    padding-left: 25px;
    text-align: center;
}

.cta h1 {
    color: #F2E5E5;
    letter-spacing: 2px;
}

.cta button {
    margin-top: 15px;
    border-radius: 12px;
    border: none;
    height: 64px;
    width: 258px;
    font-size: 1.2rem;
    color: #2B3A55;
    background-color: #F2E5E5;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    cursor: pointer;
    -webkit-box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
}

.cta button:hover {
    background-color: #FF0032;
    color: #F2E5E5;
}


.cta button:active {
    background-color: #CD0404;
}

.toggle {
    display: none;
}

.hero {
    background: url(/assets/hero-img.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}


.hero-text {
    position: relative;
    color:#2B3A55;
    margin-top: 10em;
    /* top: clamp(28em,100%,24em); */
    font-size: clamp(1rem,2.2vw,2rem);
    text-transform: uppercase;
    margin-right: 15em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    float: right;
    text-align: right;
}

.hero-text span {
    color: #CD0404;
}


.hero-text button {
    margin-top: 25px;
    border-radius: 12px;
    border: none;
    height: 64px;
    max-height: 100%;
    width: 258px;
    max-width: 100%;
    font-size: clamp(.8rem,4.2vw,1.2rem);
    font-family: 'Work Sans', sans-serif;
    color: #F2E5E5;
    background-color: #CD0404;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    cursor: pointer;
    -webkit-box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
    box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
}


.hero-text button:hover {
    background-color: #F2E5E5;
    color: #2B3A55;
}


.hero-text button:active {
    background-color: #c5bbbb;
}


a {
    color: #F2E5E5;
    text-decoration: none;
}

a:visited {
    color: #F2E5E5;
}

/* GRID */


.main-container {
    position: relative;
    padding-bottom: 6em;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.main-container:after {
    content:'';
    background: url(/assets/tool-pattern.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 1853px;
    position: absolute;
    opacity: .25;

}

.services-container {
    margin-top: 15em;
    width: 1280px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 45px;
    position: relative;
    z-index: 1;
    border: #2B3A55 solid 2px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 75px;
    padding: 4em;
    justify-content: center;

}

.griddy {
    background-color:aliceblue;
    border: #2B3A55 2px solid;
    border-radius: 15px;
    -webkit-box-shadow: 6px 6px 40px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 40px -3px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 40px -3px rgba(0,0,0,0.75);
}

.griddy h1 {
    font-size: clamp(1rem,2.2vw,2rem);
}

.griddy:hover {
    cursor: pointer;
}

.grid-wrapper {
    margin-top: 1.5em;
}

.electrical-grid-1 {
    padding: 2em;
    font-family: 'Work Sans', sans-serif;
    transition: all .2s ease-in-out;
}

.electrical-grid-1:hover {
    transform: scale(1.1);
}

.electrical-grid-1 p {
    color: #2B3A55;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
}

.electrical-grid-1 h1 {
    margin-top: 26px;
    text-align: center;
    text-transform: uppercase;
}

.plumbing-grid-2 {
    padding: 2em;
    font-family: 'Work Sans', sans-serif;
    transition: all .2s ease-in-out;
}

.plumbing-grid-2:hover {
    transform: scale(1.1);
}

.plumbing-grid-2 p {
    color: #2B3A55;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
}

.plumbing-grid-2 h1 {
    margin-top: 26px;
    text-align: center;
    text-transform: uppercase;
}

.demo-junk-grid-3 {
    padding: 2em;
    font-family: 'Work Sans', sans-serif;
    transition: all .2s ease-in-out;
}

.demo-junk-grid-3:hover {
    transform: scale(1.1);
}

.demo-junk-grid-3 p {
    color: #2B3A55;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
}

.demo-junk-grid-3 h1 {
    margin-top: 26px;
    text-align: center;
    text-transform: uppercase;
}

.flooring-grid-4 {
    padding: 2em;
    font-family: 'Work Sans', sans-serif;
    transition: all .2s ease-in-out;
}

.flooring-grid-4:hover {
    transform: scale(1.1);
}

.flooring-grid-4 p {
    color: #2B3A55;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
}

.flooring-grid-4 h1 {
    margin-top: 26px;
    text-align: center;
    text-transform: uppercase;
}

.assembly-grid-5 {
    padding: 2em;
    font-family: 'Work Sans', sans-serif;
    transition: all .2s ease-in-out;
}

.assembly-grid-5:hover {
    transform: scale(1.1);
}

.assembly-grid-5 p {
    color: #2B3A55;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
}

.assembly-grid-5 h1 {
    margin-top: 26px;
    text-align: center;
    text-transform: uppercase;
}


.installation-grid-6 {
    padding: 2em;
    font-family: 'Work Sans', sans-serif;
    transition: all .2s ease-in-out;
}

.installation-grid-6:hover {
    transform: scale(1.1);
}

.installation-grid-6 p {
    color: #2B3A55;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
}

.installation-grid-6 h1 {
    margin-top: 26px;
    text-align: center;
    text-transform: uppercase;
}


.grid-icon {
    display: block;
    margin: 0 auto;
}

/* END GRID */


/* FOOTER */

#footer {
    position: absolute;
    width: 100%;
    background-color: #2B3A55;
    color:aliceblue;
    text-align: center;
    clear: both;
}


#footer p {
    padding: 2rem;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}

#footer p a:hover {
    color: #4D80BF;
}


.showcase {
    display: none;
}

@media screen and (max-width: 1410px) {
    .cta {
        display: none;
    }

    .hero-text {
        text-align: center;
        margin: 0 auto;
        float: none;
        padding: 10em 2em;
    }

    

}


@media screen and (max-width: 1286px) {

    .main-container:after {
        height: 2680px;    
    }
    


    .services-container {
        max-width: clamp(350px,92vw,1000px);
    }

    .grid {
        grid-template-columns: repeat(1, 850px);
    }
}

@media screen and (max-width: 1018px) {
    
    .main-container:after {
        height: 3480px;    
    }

    
    .navie {
        display: none;
    }

    .header-logo {
        padding: 0;
        margin: 85px auto;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
    }


    .grid {
        grid-template-columns: repeat(1, 450px);
    }

    .toggle {
        display: block;
        position: fixed;
        width: clamp(10px,10.6vw,60px);
        height: clamp(10px,10.6vw,60px);
        background: url(assets/menu.png);
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: center;
        cursor: pointer;
        right: 0;
        top: 0;
        z-index: 3000;
        margin: 20px;
        transition: .2s;
      }
      
      .toggle.active {
        background: url(assets/close.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        
      }
    
      .showcase {
        position: fixed;
        height: 100vh;
        background: aliceblue;
        right: -19em;
        display: flex;
        z-index: 1;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
      }

      .showcase.active {
        right: 1px;
        width: clamp(300px,6.2vw,350px);
        font-size: clamp(.5rem, 60vw,.8rem);
        margin: 0 auto;
      }


      .nav-list-mobile {
        position: relative;
        display: grid;
        list-style-type: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        padding: 2em 2em;
        bottom: 8em;
        left: 1em;
        line-height: 1.5em;
        color: #CD0404;
      }
      
.nav-list-mobile li {
    color: #CD0404;
}

      .nav-list-mobile li:hover {
        color: #2B3A55;
      }

}

@media screen and (max-width: 1018px) {
    .grid {
        grid-template-columns: repeat(1, 250px);
    }

}