* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2E5E5;
    font-family: sans-serif;
}


.header {
    position: sticky;
    width: 100%;
    height: 225px;
    background-color: #2B3A55;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-logo {
    margin-top: 75px;
    padding-left: 125px;
}

.navie ul {
    margin-top: 155px;
    display: flex;
    gap: 45px;
    align-items: center;
    color: #F2E5E5;
    list-style: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold

}

.navie ul li {
    cursor: pointer;
}

.navie ul li:hover {

    color: #CD0404;
}

.hero-overlay {
    position: absolute;
    z-index: 1000;
    background-color:black;
    width: 100%;
    height: 100vh;
    opacity: .2;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/hero-img.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.hero h1 {
    position: relative;
    z-index: 1002;
    text-align: center;
    color: #F2E5E5;
    top: 350px;
    font-size: clamp(1rem,2.2vw,4rem);
    background-color: rgba(43,58,85,0.75);
    border-radius: 25px;
    padding: 25px;
    text-transform: uppercase;
    width: 50vw;
    margin: 0 auto;
}



.cta {
    position: absolute;
    margin-right: 255px;
    margin-top: 55px;
    right: 0;
    text-align: center;
}

.cta h1 {
    color: #F2E5E5;
    letter-spacing: 2px;
}

.cta button {
    margin-top: 15px;
    border-radius: 12px;
    border: none;
    height: 64px;
    width: 258px;
    font-size: 1.2rem;
    color: #2B3A55;
    background-color: #F2E5E5;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    cursor: pointer;
    -webkit-box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
}

.cta button:hover {
    background-color: #FF0032;
    color: #F2E5E5;
}


.cta button:active {
    background-color: #CD0404;
}

.header-logo-mobile {
    display: none;
}

.cta-mobile {
    display: none;
}

@media(max-width: 1784px) {
    
    .header {
        display: none
    }

    .header-logo-mobile {
        display: block;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        margin-top: 250px;
        width: clamp(250px,40vw,450px);
    }

    .hero h1 {
        top: 500px;
    }

    .cta-mobile {
        z-index: 3000;
        display: block;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        bottom: 150px;
        width: 100%;
    }

    .cta-mobile h1 {
        color: #F2E5E5;
        letter-spacing: 2px;
    }

    .cta-mobile button {
        margin-top: 15px;
        border-radius: 12px;
        border: none;
        height: 64px;
        width: 258px;
        font-size: 1.2rem;
        color: #2B3A55;
        background-color: #F2E5E5;
        font-weight: bold;
        text-transform: uppercase;
        font-family: sans-serif;
        cursor: pointer;
        -webkit-box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
    box-shadow: -8px 7px 19px 0px rgba(0,0,0,0.75);
    }

    .cta-mobile button:hover {
        background-color: #FF0032;
        color: #F2E5E5;
    }
    
    
    .cta-mobile button:active {
        background-color: #CD0404;
    }

}